<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.AndroidLabsMC.lab1.myapplication">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.AndroidLabsMC.lab1.myapplication.ListViewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="lab1.AndroidLabsMC.com"
                    android:pathPrefix="@string/url_list"
                    android:scheme="http" />
                <data
                    android:host="@string/host_list"
                    android:scheme="lab1activity" />

            </intent-filter>
        </activity>
        <activity android:name="com.AndroidLabsMC.lab1.myapplication.ExpandableListViewActivity">
            <intent-filter android:label="@string/expandable_list">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="lab1.AndroidLabsMC.com"
                    android:pathPrefix="@string/url_expandable_list"
                    android:scheme="http" />
                <data
                    android:host="@string/host_expandable_list"
                    android:scheme="lab1activity" />

            </intent-filter>
        </activity>
        <activity android:name="com.AndroidLabsMC.lab1.myapplication.Settings">
            <intent-filter android:label="@string/action_settings">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="lab1.AndroidLabsMC.com"
                    android:pathPrefix="@string/url_settings"
                    android:scheme="http" />
                <data
                    android:host="@string/host_settings"
                    android:scheme="lab1activity" />

            </intent-filter>
        </activity>


    </application>

</manifest>